.contenedorpadre{
    width: 800px;
    padding: 20px;
    margin: 15px auto;

}

.contenedorpadre form{
    padding: 15px;
    border: black solid 3px;
    display: block;
    margin-bottom: 15px;
    display: inline-block;
}

.contenedorpadre form input{
    display: block;
    padding: 15px;
    margin-bottom: 15px;
}
